<%= form_for(@ato) do |f| %>
  <% if @ato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ato.errors.count, "error") %> prohibited this ato from being saved:</h2>

      <ul>
      <% @ato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :kumo_id %><br>
    <%= f.number_field :kumo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
