<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @ato.image %>
</p>

<p>
  <strong>Kumo:</strong>
  <%= @ato.kumo_id %>
</p>

<%= link_to 'Edit', edit_ato_path(@ato) %> |
<%= link_to 'Back', atos_path %>
