<% iro = rand(5) %>
<% if iro == 0 %>
<% iro = "panel-info" %>
<% elsif iro == 2 %>
<% iro = "panel-info" %>
<% elsif iro == 3 %>
<% iro = "panel-info" %>
<% else %>
<% iro = "panel-info" %>
<% end %>
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
	<div class="panel <%= iro %>">
		<div class="panel-heading" style="text-align:center;">
			<p><%= kumo.name %>さんの作品</p>
		</div>
		<div class="panel-body zoomTarget" data-targetsize="0.8" data-closeclick="true">
			<div class="ba_box">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag kumo.mae.image_url.to_s, :class => 'img-thumbnail', :width => '200px' %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= image_tag kumo.ato.image_url.to_s, :class => 'img-thumbnail', :width => '200px' %>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3><%= kumo.title %></h3>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button id="open<%= kumo.id %>" class="btn">コメント一覧</button><button id="close<%= kumo.id %>" class="btn hidden_btn">閉じる</button>　<button id="edit<%= kumo.id %>" class="btn btn-success">編集する</button>
			<div class="hidden_box" id="editform<%= kumo.id %>">
			<h4>秘密の質問の答えを入力してください。</h4>
			<%= kumo.question %>
			<%= form_tag(edit_kumo_path(kumo), :method => :get, :class=>'form-inline' ) do %>
				<%= text_field_tag :answer %>
				<%= submit_tag '編集ページヘ', :class=>'btn btn-info'%>
			<% end %>
			</div>
			<div class="hidden_box" id="hidden<%= kumo.id %>">
				<hr>
				<button id="fbutton<%= kumo.id %>" class="btn btn-info hidden_btn">コメントする</button>
				<div class="hidden_box" id="form<%= kumo.id %>">
				あなたはどのタイプ？
				<% @comment = kumo.comments.build %>
					<%= form_for @comment, :class=>'form-inline' do |f| %>
						<div class="form-group">
							<div class="radio">
								<label>
									<%= f.radio_button :jinkaku, 1, :required => true %> <p class="text-warning">いいところを褒めまくる天使タイプ</p>
								</label>
							</div>
							<div class="radio">
								<label>
									<%= f.radio_button :jinkaku, 2, :required => true %> <p class="text-danger">弱点を見つけて攻める悪魔タイプ</p>
								</label>
							</div>
							<div class="radio">
								<label>
									<%= f.radio_button :jinkaku, 3, :required => true %> <p class="text-info">似たものを探してくる情報屋タイプ</p>
								</label>
							</div>
							<div class="radio">
								<label>
									<%= f.radio_button :jinkaku, 4, :required => true %> <p class="text-success">賢明な助言をする仙人タイプ</p>
								</label>
							</div>
						</div>
						<div class="form-group">
							<%= f.text_field :name, :class=>'form-control input-lg', :placeholder => "名前", :required => true %>
						</div>
						<div class="form-group">
							<%= f.text_area :content, :class=>'form-control input-lg', :rows => '2',  :placeholder => "コメント", :required => true %>
						</div>
							<%= f.hidden_field :kumo_id %>
						<div class="action">
							<%= f.submit "コメントする", :class=>'btn btn-primary'%>
						</div>
					<% end %>
				</div>
				<hr>
				<div>
				<% kumo.comments.each do |comment|%>
					<div>
						<% if comment.jinkaku == 1 %>
						<p class="text-warning"><strong><%= comment.content %></strong><br><small>by天使：<%= comment.name %></small></p>
						<% elsif comment.jinkaku == 2 %>
						<p class="text-danger"><strong><%= comment.content %></strong><br><small>by悪魔：<%= comment.name %></small></p>
						<% elsif comment.jinkaku == 3 %>
						<p class="text-info"><strong><%= comment.content %></strong><br><small>by情報屋：<%= comment.name %></small></p>
						<% elsif comment.jinkaku == 4 %>
						<p class="text-success"><strong><%= comment.content %></strong><br><small>by仙人：<%= comment.name %></small></p>
						<% end %>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= javascript_tag do %>
	$(function(){
		$("#open<%= kumo.id %>").on('click',function(){
			$("#hidden<%= kumo.id %>").toggle("fast");
			$("#open<%= kumo.id %>").hide();
			$("#close<%= kumo.id %>").show();
			$("#form<%= kumo.id %>").hide();
			$("#fbutton<%= kumo.id %>").show();
			$("#editform<%= kumo.id %>").hide();			
		});
		$("#close<%= kumo.id %>").on('click',function(){
			$("#hidden<%= kumo.id %>").toggle("fast");
			$("#open<%= kumo.id %>").show();
			$("#close<%= kumo.id %>").hide();
			$("#editform<%= kumo.id %>").hide();
		});
		$("#fbutton<%= kumo.id %>").on('click',function(){
			$("#form<%= kumo.id %>").toggle("fast");
			$("#fbutton<%= kumo.id %>").hide();
		});
		$("#edit<%= kumo.id %>").on('click',function(){
			$("#editform<%= kumo.id %>").toggle("fast");
		});
	});
<% end %>