<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @mae.image %>
</p>

<p>
  <strong>Kumo:</strong>
  <%= @mae.kumo_id %>
</p>

<%= link_to 'Edit', edit_mae_path(@mae) %> |
<%= link_to 'Back', maes_path %>
